/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #000;
  color: #e68e00;
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Header superior */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  padding: 1rem;
  text-align: center;

}

.header-logo {
  max-width: 300px;
  width: 100%;
  height: auto;
  object-fit: contain;
}


/* Contenedor principal */
main.container {
  flex: 1;
  width: 100%;
  max-width: 400px;
  background-color: #ff4d4f;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  color: #fff;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Logo */
.logo {
  width: 100%;
  max-width: 300px;
  margin-bottom: 1rem;
  object-fit: contain;
}

/* Título */
.container h1 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

/* Input */
input#eanInput {
  width: 100%;
  padding: 0.75rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.5rem;
  text-align: center;
  margin-bottom: 1rem;
  outline: none;
}

/* Botón */
button#generateBtn {
  width: 100%;
  padding: 0.75rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #ff4d4f;
  background-color: #fff;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

button#generateBtn:hover {
  background-color: #f2f2f2;
}

/* Resultados */
#result {
  margin-top: 2rem;
}

#result p {
  margin: 0.5rem 0;
  font-size: 1rem;
}

#barcode {
  margin: 1rem auto;
}

#skuImage {
  max-width: 100%;
  margin-top: 1rem;
  border-radius: 0.75rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

/* Ocultar secciones */
.hidden {
  display: none;
}

/* Footer */
footer {
  text-align: center;
  padding: 1rem;
  color: #e68e00;
}

/* Responsive */
@media (max-width: 480px) {
  .container {
    padding: 1.5rem 1rem;
  }

  .container h1 {
    font-size: 1.5rem;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input,
  button {
    font-size: 1rem;
  }
}